.modal-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.541);
  display: grid;
  backdrop-filter: blur(1px);
  place-content: center;
  position: fixed;
  z-index: 20;
}
.modal-container {
  display: grid;
  background-color: white;
  place-items: center;
  border-radius: 1rem;
  position: relative;
  padding: 1rem;
  gap: 1rem;
}
.modal-header {
  display: grid;
  place-items: center;
}
.modal-header img {
  position: absolute;
  width: 30px;
  top: -12px;
  cursor: pointer;
  right: -12px;
  background-color: #1976d2;
  border-radius: 1rem;
}

.modal-body {
  padding: 1rem;
}
.modal-header h2 {
  text-align: center;
}
.modal-body form {
  gap: 1rem;
  display: grid;
}
.modal-body form label {
  display: grid;
  gap: 0.5rem;
}
.modal-body form label input {
  padding: 0.4rem;
  background-color: #e2e2e2;
  border: none;
  width: 260px;
  border-radius: 5px;
}
.modal-body form label input:focus {
  border: none;
  outline: 2px solid #1976d2;
}
.modal-body form button {
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #1976d2;
  font-weight: bold;
  cursor: pointer;
}
.password-error, .email-error{
  color: red;
}
.admin_button{
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 1rem;
  padding: unset;
  position: relative;
}
.admin_button img{
  width: 45px;
  border-radius: 50%;
  height: 45px;
  object-fit: cover;
}
.small-modal{
  background-color: #1976d2;
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 60px;
  width: 100%;
}
.small-modal ul{
  padding: 0.5rem;
  display: grid;
  gap: 1rem;
  list-style-type: none;
}
.small-modal ul li{
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}
.modal-body .paragraph-to-delete{
  max-width: 34ch;
  color: #939393;
}
.modal-wrapper.complete-modal-wrapper{
  position: fixed;
  top: 0;
  right: 0;
}
.modal-wrapper.complete-modal-wrapper img, .modal-wrapper.complete-modal-wrapper button{
  background-color: #4cbb60;
}
.complete-modal-wrapper form label input:focus{
  outline: 2px solid #4cbb60;
}
.complete-modal-wrapper form label textarea:focus{
  outline: 2px solid #4cbb60;
}
.complete-modal-wrapper form label textarea {
  resize: vertical;
  padding: 0.3rem;
  font-family:  Arial, Helvetica, sans-serif
}