* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 1rem;
  align-content: flex-start;
  background-image: url(http://www.gov2.net.au/img/banner_bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
img {
  width: 100%;
}
.navigation-header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-right: 1rem;
  box-shadow: 5px 0px 5px 3px #dedfe0;
}

.logo-section__item {
  display: grid;
  align-items: center;
  grid-template-columns: 70px auto;
}
.logo-section__item h1 {
  color: #5b97fe;
}
.login-section {
  display: grid;
  gap: 1rem;
  list-style: none;
  grid-auto-flow: column;
  place-items: center;
}
.login-section__button button {
  padding: 0.5rem;
  border: 1px solid #5b97fe;
  background: none;
  color: #5b97fe;
  border-radius: 1px;
  cursor: pointer;
}
.login-section__info h3 {
  background-color: #5b97fe;
  color: white;
  padding: 1rem;
  font-weight: 200;
}
.intro-main {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  place-items: center;
}
.intro-main h1 {
  letter-spacing: 1rem;
  max-width: min-content;
  text-align: center;
  line-height: 2;
}

.page-not-found__main {
  display: grid;
  place-content: center;
  height: 80vh;
}
.page-not-found__message {
  font-size: 1rem;
}
.logged-in__main {
  display: grid;
  padding-right: 1rem;
  grid-template-columns: auto 1fr;
  height: 87vh;
}

.side-bar h3 {
  padding: 1rem;
}

.side-bar-list__item a {
  color: unset;
  text-decoration: none;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0.9rem 1rem;
  padding-right: 4rem;
  cursor: pointer;
  gap: 1rem;
}
.side-bar-list__item:hover {
  background-color: #e4e4e4;
}
.side-bar-list__item img {
  width: 22px;
}

.side-bar-list__item .active {
  background-color: #f3f3f3;
  color: #5b97fe;
}
.info-main {
  background-color: #fafafa;
  box-shadow: 0px 0px 10px 1px #dedfe0;
  padding: 1rem;
}
.dashboard-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  gap: 1rem;
}
.dashboard-list__item{
  display: grid;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  grid-template-columns: 1fr 1fr;
}
.dashboard-list__item__info p{
  background-color: #5b97fe;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
}
.dashboard-list__item__img.nurse_item,
.dashboard-list__item__info.nurse_item__info p{
  background-color: #4cbb60;
}
.dashboard-list__item__img.patient_item,
.dashboard-list__item__info.patient_item__info p{
  background-color: #7690a6;
}
.dashboard-list__item__img.appointment_item,
.dashboard-list__item__info.appointment_item__info p{
  background-color: #ffbd29;
}
.dashboard-list__item__img.appointment_item img{
  padding: 0.4rem;
}
.dashboard-list__item__img{
  border-radius: 50%;
  background-color: #5b97fe;
  padding: 1rem;
}
.dashboard-list__item__info{
  display: grid;
  justify-items: end;
  align-items: center;
}
